{% extends 'visitor_base.html.twig' %}

{% block title %}{{parent()}}-Inscription{% endblock %}

{% block body %}
<center>
    <div class="container-md-auto-form-login" id="signupbody">
        <div class="row justify-content-md-center">
            <div class="col-3">
                <h1>Register</h1>
                {{ form_start(registrationForm, { attr: { novalidate: 'novalidate' }}) }}
                </br>
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword) }}
                    {{ form_row(registrationForm.agreeTerms) }}
                    <button class="btn btn-lg btn-primary" type="submit">
                        Register
                    </button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
<center>
{% endblock %}
